@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.kite2 {
  position: absolute;
  left: 60%;
  right: -7.11%;
  top: 47.79%;
  bottom: 41.41%;
}
